<ion-view view-title="Help">
  <ion-content>
      
      <div class="card">
  <div class="item item-text-wrap">
	  <b>HOW CAN I BE A LESSOR?</b><br>"Click the "apply now" button. There will be instructions after clicking the button and be sure to follow it to guarantee yourself as a Lessor.
<br><br>
	  <b>HOW CAN I POST MY AD?</b><br>Fill up the required areas.<br>Make sure that the required areas are filled with correct information.<br>Choose the images you wish to upload for your rental space.<br>Submit it and you may be able to see it on the "Edit Post" section along with your other posts.
<br><br>
	  <b>MESSAGING</b><br>Messaging online and via the app helps you get to know lessor/lessee and answer any questions.
<br><br>
	  <b>WE'RE HERE TO HELP</b><br>From getting your home to stay ready and choose a price depending on your budget is what we can offer as an ease to look for you future home. 
  </div>
</div>
      
      
      </ion-content>
</ion-view>