<ion-view view-title="Details">
  <ion-content>

<div class="list card">

  <div class="item item-icon-left item-icon-right">
    <a href="#" class="icon ion-person"></a>
    <h2>{{profile.fname}} {{profile.lname}}</h2>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/for-rent.jpg">
    <p>
      
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus in purus vel iaculis. Vivamus id risus id velit sodales facilisis. Quisque a tincidunt dui, at sodales tortor. Vivamus vel leo aliquam, posuere ante tincidunt, mattis augue. Fusce vel orci ut justo facilisis consectetur. Phasellus aliquam lectus turpis, facilisis fermentum sapien pellentesque nec. Mauris nisl lacus, elementum ac tortor nec, elementum hendrerit leo. Duis molestie enim et lorem tempor, non feugiat nibh rutrum. Morbi dictum faucibus auctor. Aliquam consequat pretium finibus. Morbi quis tellus id urna pulvinar pharetra.

        In mattis elit sed molestie feugiat. Aliquam at risus in ligula rhoncus mollis vitae sit amet augue. Curabitur ullamcorper bibendum dolor, at condimentum nulla lacinia in. Pellentesque commodo ultricies ligula sit amet placerat. In eget pretium magna. Fusce euismod justo non mauris interdum congue. Fusce tempus nisl nec dolor vestibulum, nec consectetur arcu ullamcorper. Integer non ultricies felis, ac consectetur massa. Nulla nulla velit, commodo ac commodo vel, aliquam quis eros. In molestie, odio et lobortis porttitor, purus nisi semper nisi, eu molestie leo libero ac velit.
    </p>
        <div class="item item-divider">
                 PHP {{profile.price}}
        </div>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <p>Contact Number: 123-456-789</p>
  </div>

</div>

  </ion-content>
</ion-view>
