<ion-view view-title="Details">
  <ion-content>

<div class="list card">
  
    <a href="#/app/publicprofile/{{profile.id}}" class="item item-avatar"><img src="img/user.png">
         <h2>{{profile.fname}} {{profile.lname}}</h2>
        <p>{{profile.date_created}}</p>
        </a>
  <div class="item item-body">
    <img class="full-image" ng-src="http://rentalaspacelocator.com/uploads/{{profile.picture_uri}}">
    <p>
             
            {{profile.comments}}
    </p>
        <div class="item item-divider">
                 PHP {{profile.price}}
        </div>
      <div class="item item-divider">
                Location: {{profile.location}}
        </div>
       <div class="item item-divider">
                Contact Number: 123-456-789
        </div>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <p><a class="button button-outline button-positive" ng-click="sendmessage.show()">Send me a message</a>  </p>
  </div>

</div>

  </ion-content>
</ion-view>
