<ion-view view-title="Details">
  <ion-content>

<div class="list card">

  <div class="item item-icon-left item-icon-right">
    <a href="#" class="icon ion-person"></a>
    <h2>{{profile.fname}} {{profile.lname}}</h2>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/for-rent.jpg">
    <p>
            {{profile.comments}}
    </p>
        <div class="item item-divider">
                 PHP {{profile.price}}
        </div>
      <div class="item item-divider">
                Location: {{profile.location}}
        </div>
       <div class="item item-divider">
                Contact Number: 123-456-789
        </div>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <p><a class="button button-outline button-positive" href="#/app/item/{{profilelist.item_id}}">Send me a message</a>  </p>
  </div>

</div>

  </ion-content>
</ion-view>
