<ion-view view-title="Details">
  <ion-content>
<form name="myForm" novalidate>
 <div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Space Type
    </div>
    <select ng-model="item.space_type" required>
      <option>Room</option>
      <option selected>Condo</option>
      <option>Apartment</option>
      <option>House</option>
    </select>
  </label>
  <label class="item item-input">
    <input type="text" ng-model="item.location" placeholder="Location" required>
  </label>
  <label class="item item-input">
    <input type="text" ng-model="item.price" placeholder="Price" required>
  </label>
  <label class="item item-input">
    <textarea ng-model="item.comments" placeholder="Description"></textarea>
  </label>
  <button class="button button-block button-energized" ng-disabled="myForm.$invalid" ng-click="submit(item)">
  Submit
  </button>
 <br>    
<div class="item item-divider"> Upload Images </div>
      <input class="bottom-marg-15" type="file"  name="file" file="file">
  <button class="button button-small button-full button-positive" onclick="getImage();" ng-cloak="">Upload</button>
  <img class="fit" ng-if="uploadUri" ng-src="">
  <a ng-href="" ng-bind="uploadUri"></a>
</div>
      </form>

  </ion-content>
</ion-view>
