<ion-view view-title="Details">
  <ion-content>

 <div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Space Type
    </div>
    <select>
      <option>Room</option>
      <option selected>Condo</option>
      <option>Apartment</option>
      <option>House</option>
    </select>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Location">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Price Range">
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label>
  <button class="button button-block button-energized">
  Submit
  </button>
 <br>    
<div class="item item-divider"> Upload Images </div>
      <input class="bottom-marg-15" type="file" name="file" file="file">
  <button class="button button-small button-full button-positive" ng-disabled="file.size&amp;&amp;false || uploadProgress&gt;0" ng-click="upload()" ng-cloak="">Upload</button>
  <img class="fit" ng-if="uploadUri" ng-src="">
  <a ng-href="" ng-bind="uploadUri"></a>
</div>


  </ion-content>
</ion-view>
