<ion-view view-title="Profile">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <h2>{{userprofile.fname}} {{userprofile.lname}}</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <!--
        <p>
         <b>Name:</b>
        </p>
        -->
        <p>
         <b>Address:</b>
        </p>
        <p>
         <b>Email:</b>
        </p>
        <p>
         <b>Contact Number:</b>
        </p>
        <p> 
         <b>Birthday:</b>
        </p>
        <p> 
         <b>Civil Status:</b>
        </p>
        <p> 
         <b>Age:</b> <b>Gender:</b>
        </p>
          <hr>
        <button class="button button-small button-balanced">
            Apply for Lessor
        </button>
          <div style="float:right;">
         <button class="button button-small button-positive" >
            Feedbacks
        </button> 
        <button class="button button-small button-energized pull-right">                                                         
            Edit Profile
        </button> 
          </div>
      </div>
       
    </div>
      
            
   </ion-content>
</ion-view>