<ion-modal-view view-title="Send Message">
    <ion-header-bar>
      <h1 class="title">Send Message</h1>
         <div class="button button-clear" ng-click="sendmessage.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
  <ion-content>
      
       <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Title">
          </label>
          <label class="item item-input">
            <textarea placeholder="Message" stlye="height: 100px;"></textarea>
          </label>
           <br><br>
          <a class="button button-full button-positive">
              Submit
          </a>
      </div>
      </ion-content>
</ion-modal-view>

