<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/app/login"><i class="icon ion-unlocked"></i> Login</a>
		<a class="tab-item" href="#/app/signup"> <i class="icon ion-person"></i> Sign Up </a>
    </div>
 </div>

<ion-view view-title="Sign In" class="loginBg" hide-nav-bar="true" >
<!-- <ion-nav-title><img src="img/BWlogo.png" width="40"></ion-nav-title> -->

  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		 <center> <div class="app-logo"><img src="img/BPPlogo.png" height="200%" width="200%" style="margin-left: -50px;"></div></center> 
			<!--<div><center><h1><b>RENT-A-SPACE</b></h1></center></div> --><br>
			<div class="list list-inset removePM">
			  <label class="item item-input"><input type="text" ng-model="user.username" placeholder="Email Address" > </label>
			  <label class="item item-input"><input type="password" ng-model="user.password" placeholder="Password" > </label>
			</div>

			<div class="loginButton"><button class="button ion-unlocked button-block button-balanced" ng-click="login(user);" > Login </button>  </div>
            <div class="card">
              <div class="item item-text-wrap"><center> Forgot email or password? <br> Not yet verified? Please contact <a href="mailto:support@rentalaspacelocator.com">support</a>.</center>
              </div>
            </div>
	  </div>
  </div>
  </ion-content>
</ion-view>
