<ion-modal-view view-title="Terms and Conditions">
    <ion-header-bar>
      <h1 class="title">Terms and Conditions</h1>
         <div class="button button-clear" ng-click="terms.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
  <ion-content>
      
   <br>
	  <p style="font-size:30px"><b>Terms and Conditions</b><br><br></p>
<p style="text-align:justify"><b>1. Introduction</b><br><br>
<b>1.1</b> Welcome to Rent-a-Space application. This application was developed between the month of October 2015 to September 2016 by or in behalf of Jose Rizal University students of Information Technology Studies.
By downloading or using the application, these terms and condition will automatically apply to you – you should make sure therefore that you read them carefully before using the application. We are offering you this application to use for your own personal use without cost, but you should be aware that you cannot send it on to anyone else, and you’re not allowed to copy, or modify the app, any part of the app, or our trademarks in any way. You’re not allowed to attempt to extract the source code of the app, and you also shouldn’t try to translate the app into other languages, or make derivative versions. The app itself, and all the trade marks, copyright, database rights and other intellectual property rights related to it, still belong to Rent-a-Space.<br><br> 
<b>2. Copyright notice</b><br><br>
<b>2.1</b> Copyright © 2015 Rent-a-Space Application<br><br>
<b>2.2</b> Subject to the express provisions of these terms and conditions:<br><br>
	<b>(a)</b> we, together with our licensors, own and control all the copyright and other intellectual property rights in our application and the material on our application; and<br><br>
	<b>(b)</b> all the copyright and other intellectual property rights in our application and the materials are reserved.<br><br>

<b>3. License to use application</b><br><br>
	<b>(a)</b> you may use our application in any mobile phones<br><br>
	<b>(b)</b> you may search and view rental houses, apartments, and bed spaces.<br><br>
	<b>(c)</b> if you are a lessor, you may post rental houses, apartments, and bed spaces.<br><br>
	<b>(d)</b> if you are a lessee, you may search for your desired rental pad spaces and  
could send feedback to the lessors for any malicious doings.<br><br>

<b>4.	Acceptable use</b><br><br>
<b>4.1</b>	You must not:<br><br>
<b>(a)</b>	use our application in any way or take any action that causes, or may cause, damage to the mobile application or impairment of the performance, availability or accessibility of the application;<br><br>

<b>(b)</b>	use our application in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;<br><br>

<b>(c)</b>	use our application to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software;<br><br>

<b>(d)</b>	conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our application without our express written consent;<br><br>

<b>(e)</b>	access or otherwise interact with our application using any robot, spider or other automated means;<br><br>

<b>(f)</b>	use data collected from our application for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing and direct mailing).<br><br>

<b>4.2</b>	You must not use data collected from our application to contact individuals, companies or other persons or entities.<br><br>

<b>4.3</b>	You must ensure that all the information you supply to us through our application, or in relation to our application, is true, accurate, current, complete and non-misleading.<br><br>


<b>5. You acknowledge that:</b><br><br>

<b>(c)</b>	we are not party to any contract for the sale or purchase of goods or services entered into between you and a lessor; and<br><br>

<b>(d)</b>	our application contains information provided by lessors, and we do not check, audit or monitor the accuracy of that information,
and accordingly we will not be liable to you in relation to any loss or damage arising out of any use of a lessor’s application, any information provided by a lessor, any offer made by a lessor, or any contract with a lessor.<br><br>

<b>5.1</b>	We are not responsible for the enforcement of any obligations arising out of a contract between you and any third party, and we will have no obligation to mediate between the parties to any such contract.<br><br>

<b>6.  Registration and accounts</b><br><br>

<b>6.1</b> To be eligible for an individual account on our application under this Section 6, you must be at least 18 years of age.<br><br>

<b>6.2</b> You may register for an account with our application by completing and submitting the account registration form on our application.<br><br>

<b>6.3</b>  You must notify us in writing immediately if you become aware of any unauthorized use of your account.<br><br>

<b>7. User IDs and passwords</b><br><br>

<b>7.1</b> If you register for an account with our application, you will be asked to choose a user email address and password.<br><br>

<b>7.2</b> Your user ID must not be liable to mislead.<br><br>

<b>7.3</b> You must keep your password confidential.<br><br>

<b>7.4</b> You must notify us in writing immediately if you become aware of any disclosure of your password.<br><br>

<b>7.5</b> You are responsible for any activity on our application arising out of any failure to keep your password confidential, and may be held liable for any losses arising out of such a failure.<br><br>

<b>8. Disabling of account</b><br><br>

<b>8.1</b> We may:<br><br>

<b>(a)</b> disable your account; and/or<br><br>

<b>(b)</b> delete your account; 
at any time in our sole discretion if any wrong and malicious actions are proven.<br><br>

<b>8.2</b> You may cancel your account on our application by sending us an email. <br><br>
<b>9. Breaches of these terms and conditions </b><br><br>
<b>9.1</b> Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may: <br><br>
<b>(a)</b> send you one or more formal warnings; <br><br>
<b>(b)</b> temporarily disable your account;<br><br>
<b>(c)</b> permanently delete and prohibit you from accessing our application.<br><br>

<b>10. Trade marks </b><br><br>
<b>10.1</b> Our logos and our other registered and unregistered trade marks are trade marks belonging to us; we give no permission for the use of these trade marks, and such use may constitute an infringement of our rights.<br><br>
</p>      
	</ion-content>
</ion-modal-view>

